fastapi==0.121.2
uvicorn==0.38.0
mlflow==3.6.0
scikit-learn==1.7.2
lightgbm==4.6.0
xgboost==3.0.3
numpy==1.26.4
pydantic==1.10.24
pandas==2.3.0
streamlit==1.51.0
httpx==0.28.1
evidently==0.3.2
imbalanced-learn==0.13.0